body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 100px;
        }
        h1 { color: #2c3e50; }
        .btn {
            padding: 15px 30px;
            margin: 15px;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            font-size: 18px;
        }
        .client-btn {
            background: #27ae60;
            color: white;
        }
        .admin-btn {
            background: #2980b9;
            color: white;
        }
        .btn:hover {
            opacity: 0.9;
        }
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #6dd5ed, #2193b0);
    margin: 0;
    padding: 0;
    text-align: center;
    color: #000;
    
}

nav {
    background: #ddd;
    padding: 15px;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

button {
    background: #1a73e8;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    margin-top: 15px;
    cursor: pointer;
}

button:hover {
    background: #0b57d0;
}

form {
    background: #eee;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    text-align: left;
}